requests
FPDF
PyPDF2
paramiko
Pillow
pygame
pyusb
pyserial
urllib3
aenum
asn1crypto
bcrypt
certifi
cffi
chardet
cryptography
idna
PyNaCl
six
setuptools
func_timeout
Flask
pycryptodomex
pycryptodome
pika